
/*Blue Section CSS*/
.top {
    background-color:#1F2937;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:50px;
}

/*Header CSS*/
.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom:50px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

ol {
    display:flex;
    list-style:  none;
    font-size: 18px;
    color: #E5E7EB;
    gap:8px;
}

a {
    text-decoration: none;
    color:white
}

/*Blue Section Body*/
.top-body {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:15px;
}
.left-section {
    display:flex;
    flex-direction:column;
    flex:0 1 auto;
}

h1 {
    font-size:48px;
    font-weight:extra-bold;
    color:#F9FAF8;
    margin:0;
}

.secondary {
    font-size:18px;
    color:#E5E7EB;
    margin:0;
}

.button-one {
    background-color: #3882F6;
    color:white;
    border:none;
    height: 25px;
    width:100px;
    border-radius: 5px;
    margin-top:8px;
}

img {
    height:200px;
}

/*Random Section*/
.random {
    padding:50px;
}
.image-group p {
    text-align:center;
    color:grey;
}

.random-title {
    text-align:center;
    font-size: 36px;
    font-weight:extra-bold;
    color: #1F2937;
}

.image-group {
    display:flex;
    justify-content: center;
    gap:40px;
}

.random img {
    width:100px;
    flex:1;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.balls, .frisby, .plush, .stick {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Quote Section*/
.quote {
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px;
}

.thor {
    align-self: flex-end;
    font-weight: bold;
}

.quote .main-quote {
    font-style: italic;
    font-size: 20px;
    color: #1F2937;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

/*bottom section*/
.bottom-section {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:50px;
}
.container {
    background-color: #3882F6;
    padding: 20px 30px;
    display:flex;
}